/* div {
  border: 1px solid red;
}  */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f3f3f3;
  position: relative;
    min-height: 756px;
    display: flex;
    /* выше установили ограничения для секции */
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
width: 183px;
height: 32px;
}

.header__title {
  margin-left: 64px;
  display: flex;
  align-items: center;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
 position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;

}
.main_illustration_header {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: blue;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.accent {
  font-weight: bold;
} 
.description {
  display: flex;
  justify-content: center;
   margin-top: 100px;
   margin-bottom: 100px;
   
}

.two-columns {
display: flex;

justify-content: space-between;
width: 80%;

}
.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: blue;
}

.two-columns__main-text {
 width: 80%;
 min-width: 784px;

}
.two-colums__paragraph_accent {
margin-top: 30px;
margin-bottom: 30px;

}

.two-colums__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;

}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;


}
.section-title {
 display: flex;
 justify-content: center;
    margin-bottom: 20px;  
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  
}

.section-subtitle {
  display: flex;
  font-size: 24px;
  line-height: 34px;
  font-weight:  normal;   
  justify-content: center;
  width: 60%;
}

.table {
display: flex; 
flex-wrap: wrap;
width: 1100px;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;


}

.table__cell{
  width: 250px;
  margin-top: 60px;
  

}
.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}
.table_text_m {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}
.feynman {
  display: flex;
    position: relative;
    flex-direction: column;
    height: 890px;
    align-items: center;
    background-color: #f3f3f3;
}
.feynman__title {
  text-align: center;
  width: 648px;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
margin-top: 70px;
z-index: 1;
line-height: 51px;
font-size: 36px;
font-weight: normal;

}
.feynman__subtitle h2 {
  margin: 0;
   
  }
  
.feynman__link {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  
}
.feynman__link a {
  text-decoration: none;
}
.feynman__img  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}
.kaufman {
  position: relative;
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.section-title_theme_dark {
  display: flex;
 justify-content: center;
 margin-top: 90px;
    margin-bottom: 20px;  
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  color: #f3f3f3;
}

.section-subtitle_theme_dark {
  display: flex;
  font-size: 24px;
  line-height: 34px;
  font-weight:  normal;   
  justify-content: center;
  width: 60%;
  color: #f3f3f3;
}

.table_theme_dark {
  display: flex; 
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  z-index: 1;

}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;

}

.table_theme_dark h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}
.kaufman__triangle {
  width: 998px;
  height: 770px;
  position: absolute;
  top: 0;
  right: -210px;
}
.table__heading_theme_dark {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}
  .table__text_theme_dark {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
  }
  .footer {
    display: flex;
    justify-content: center;
    min-height: 350px;
    background-color: black;
    color: white;
  }
  .footer__column {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
   

  }
  


  .footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo__place_footer {
    width: 185px;
    height: 35px;
  }

  .footer__author {
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;

  }

  .footer__column_content {
    display: flex;
    flex-basis: 711px;
    justify-content: end;
  }
  .footer__coolumn_content_social {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
   

  }
  .footer__column_content_info {
    display: flex;
    flex-direction: column;    
  }
  .footer__column-links {
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;  
  }
  .footer__column-link {
    display: flex;
    height: 16px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;

  }

  .footer__column-link a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  .footer__social-icon {
     height: 16px;
     width: 16px;
     margin-right: 10px;
  }
  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;

  }